@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Raleway+Dots&display=swap');

body {
  font: 4vh "Raleway", sans-serif;
}
nav {
position: fixed;
font: 5vh "Raleway", sans-serif;
background-color: #d6a184;
width: 100%;
}
nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav li {
  border: none;
  background: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: auto;
  padding: 2vh 3vw;
  color: #63474d;
}
nav a, nav a:hover {
  text-decoration: none;
  color: #63474d;
  white-space: nowrap;
  overflow: hidden;
}
.dropdown {
  position: absolute;
  left: 0;
  display: none;
  white-space: nowrap;
  background-color: #d6a184;
}
nav li:hover {
  background-color: #e6b194;
}
nav li:hover .dropdown {
  display: block;
}
#timerContainer {
  height: 100vh;
  width: 100%;
  background-color: #63474d;
  background-image: url("met.jpg");
  background-position: center center;
  background-size: 150% 150%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#timer {
  font: 25vh "Raleway Dots", serif;
  white-space: nowrap;
  overflow: hidden;
}
footer {
  background-color: #aa767cff;
  width: 100%;
  padding: 5vh;
}
